<div class="input-field-wrapper">
  <mat-dialog-content *ngFor="let data of inputValue">
    <mat-form-field appearance="fill" class="form-field" *ngIf="data.category === 'Text'" >
      <mat-label>{{data.labelName!== ''? data.labelName : 'Default name'}}</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field" *ngIf="data.category === 'Number'">
      <mat-label>{{data.labelName!== ''? data.labelName : 'Default name'}}</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-radio-button value="1"  *ngIf="data.category === 'Radio'">{{data.labelName!== ''? data.labelName : 'Default name'}}</mat-radio-button>
    <mat-checkbox appearance="fill" class="form-field" *ngIf="data.category === 'Checkbox'">{{data.labelName!== ''? data.labelName : 'Default name'}}</mat-checkbox>
    <mat-form-field appearance="fill" class="form-field" *ngIf="data.category === 'Date'">
      <mat-label>{{data.labelName!== ''? data.labelName : 'Select Date'}}</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> 
    <mat-form-field appearance="fill" class="form-field" *ngIf="data.category === 'Select'">
      <mat-label>{{data.labelName!== ''? data.labelName : 'Select a option'}}</mat-label>
      <mat-select>
        <mat-option value="option1">AvTech</mat-option>
        <mat-option value="option2">FrontEnd Developer</mat-option>
        <mat-option value="option3">AvTech</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Add other input fields like radio, datepicker, etc. as needed -->
  </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
